/*serra leonardo classe 87*/


/*ex 1*/
.ex-1-square{
    transition: background-color 2s;
}

.ex-1-square:hover{
    background-color: red;
}

/*ex 2*/

.ex-2-square{
    transition: width 2s;
}

.ex-2-square:active{
    width: 1100px;
}

/*ex 3*/

.ex-3-square{
    transition: border-radius 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/*ex 4*/

.ex-4-square{
    transition: opacity 2s;
}

.ex-4-square:hover{
    opacity: 0;
}

/*ex 5*/

.ex-5-square{
    transition: scale 2s;
}

.ex-5-square:hover{
    scale: 2;
}

.ex-5-square:active{
    scale: 0.5;
}

/*ex 6*/

.ex-6-img{
    transition: filter;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

/*ex 7*/

.ex-7-img{
    transition: filter 5s;
}

.ex-7-img:hover{
    filter: hue-rotate(360deg) drop-shadow(16px 16px 10px rgb(55, 149, 203));
}

/*ex 8*/

.ex-8-img{
    transition: filter 2s, border-radius 5s;
}

.ex-8-img:hover{
    filter: hue-rotate(360deg) drop-shadow(16px 16px 10px rgb(111, 0, 255));
    border-radius: 25%;
}

/*ex 9*/

.ex-9-img{
    transition: filter 2s, border-radius 5s , scale 3s ease-out;
}

.ex-9-img:hover{
    filter: saturate(2) drop-shadow(16px 16px 5px rgb(252, 103, 66));
    border-radius: 50%;
    scale: 1.2;
}

/*ex 10*/

.ex-10-icon{
    animation-name: loading;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}

@keyframes loading {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*ex 11*/

.ex-11-icon{
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-direction: alternate;
}

.ex-11-icon:hover{
    animation-name: gear;
}

@keyframes gear {
    0%{
        transform: rotate(0);
    }

    95%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(0);
    }
}


/*ex 12*/

.ex-12-top-white {
    animation-name: pingPong;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.ex-12-bottom-white {
    animation-name: pingPongReverse;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pingPong {
    0%{
        left:0;
    }

    50%{
        left:calc(100% - 60px);
    }

    100%{
        left: 0;
    }
    
}

@keyframes pingPongReverse {
    0%{
        left:calc(100% - 60px);
    }

    50%{
        left: 0;
    }

    100%{
        left:calc(100% - 60px);
    }
    
}

/*ex 13*/

.ex-13-top-white {
    animation-name: aroundCorner;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* border: 1px solid red; */
}

.ex-13-bottom-white {
    animation-name: aroundCornerReverse;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes aroundCorner {
    0%{
        top: -19px;
        left: 0;
    }

    50%{
        top: -19px;
        left: 100%;
    }

    100%{
        top:100%;
        left: 100%;
    }
} 

@keyframes aroundCornerReverse {
    0%{
        bottom: -19px;
        right: 0;
    }

    50%{
        bottom: -19px;
        right: calc(100% - 39px);
    }

    100%{
        bottom:100%;
        right: calc(100% - 39px);
    }
    
}